<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>| Register Page</title>

    {% load static %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/all.css' %}" rel="stylesheet">
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet">

  </head>
  <body>
  <div class="form-wrapper">
    <section class="section-form">
      <h2>Register User</h2>
      {{msg}}
      <form action = "" method="post">
        {% csrf_token %}
        <input name="name" type="text" placeholder="Name" id="name" />
        <input name="username" type="text" placeholder="Username" id="username" />
        <input name="email" type="email" placeholder="Email" id="email"  novalidate/>
        <input name="password" type="password" placeholder="Password" id="password" />

        <input type="submit" value="Sign Up" id="sign_up" />

        Have an account? <a href="{% url 'users:login' %}"> Login </a>
      </form>
    </section>
  </div>

    <script src="js/main.js"></script>
  </body>
</html>
